<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Tempate</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
  <div class="travel">
    <p>TRAVEL</p>
  </div>
  <p class="header">Donec sed odio dui. Cras mattis consectetur purus sit amet ferm</p>
  <p class="underfoto">Donec aredsed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
  <p class="underfotoSecond">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  <ul>
    <li class="first">Put on this page information about your product</li>
    <li class="second">A detailed description of your product</li>
    <li class="third">Tell us about the advantages and merits</li>
    <li class="fourth">Associate the page with the payment system</li>
  </ul>
  <input type="button" class="button" name="full" value="FULL STORY →">

</body>
</html>
